@charset "UTF-8";

a {
  padding: 12px 16px;
  display: block;
}

section {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 0 16px;
  width: auto;
  height: 100vh;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  padding: 10px;
  color: #fff;
  background-color: #003;
  border: 1px solid #fff;
}

td {
  padding: 10px;
  border: 1.5px solid #ccc;
}

td>a {
  padding: 0;
  color: #0cf;
}

.content {
  display: flex;
  background-color: #f5f5f5;
}

.section-title {
  flex: 1;
  display: flex;
  align-items: center;
}

.section-content {
  position: relative;
  flex: 11;
  margin-bottom: 24px;
  padding: 24px;
  background-color: #fff;
  border-radius: 5%;
}

.form-title, .form-contents {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  font-size: 16px;
}

.form-control {
  padding: 6px;
  width: 100%;
  border-radius: 5px;
}

.textarea {
  border: 2px solid #ccc;
}

.deadline-date {
  margin-bottom: 8px;
}

.date-form {
  margin-right:4px;
  padding: 6px;
  width: 120px;
  height: auto;
  background: no-repeat url(../img/select.svg) right 10px center / 16px 16px;
  border: 1.5px solid #ccc;
}

.time-form {
  padding: 6px;
  border-radius: 5px;
}

.form-button {
  position: absolute;
  left: 0;
  bottom: 24px;
  width: 100%;
  text-align: center;
}

.submit-button {
  padding: 16px;
  width: 160px;
  color: #fff;
  background-color: #0cf;
  border: none;
  border-radius: 5px;
}

.todo-cell {
  width: 50%;
}

.deadline-cell {
  width: 33.3%;
}

.complete-cell {
  width: 16.6%;
}

.pagination {
  position: absolute;
  left: 0;
  bottom: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.pagination-button {
  font-size: 20px;
  color: #0cf;
  background-color: #fff;
  border: 1.5px solid #ccc;
}

.current {
  padding: 12px 16px;
  color: #fff;
  background-color: #0cf;
  border: none;
}